html {
  box-sizing: border-box;
}

*,*before,
*after {
  box-sizing: inherit;
}

  $blue: #B7D2E2;
  $white: #FDF8F8;
  $purple: #E3B7B5;
  $gray: #4D4D4D;
  $large-text-color: #656565;
  
  @mixin ellipse($color){
  display: flex;
  width: 1087px;
  height: 831px;
  flex-shrink: 0;
  z-index: 0;
  border-radius: 1087px;
  color: &color;
}

@mixin purple-button($color,$border-color:none){
  width: 245px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  color: $color;
  border: 3px solid $border-color;
}

@mixin large-text($line-heigh: 150%){
  color: $large-text-color;
  font-family: Alexandra Zeferino One, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: $line-height;
}

@mixin bold-text(){
  color: $gray;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

@mixin thin-text(){
  color: $gray;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

button{
  
}